* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    background-color: #2D1E6B;
    letter-spacing: 0.04em;
    overflow-x: hidden;
}

a  {
    text-decoration: none;
    color: inherit;
}

ul,ol {
    list-style: none;
}

button {
    border: none;
    background: none;
    cursor: pointer;
}

.container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 101px;
}

header {
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #FFFFFF;
    margin-top: 55px;
}

header .logo {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 40px;
    font-weight: 800;
}

nav ul {
    z-index: 2;
    display: flex;
    text-transform: uppercase;
    transform-origin: center;
    gap: 40px;
    font-weight: 400;
    font-size: 18px;
}

.nav-links li a:hover {
    color: #ca25e4;
    transform: scale(1.1);
    cursor: pointer;
    font-weight: 800;
}

header .header-actions .btn-header {
    position: relative;
}

header .header-actions .btn-header:hover .shop-btn,
header .header-actions .btn-header:hover .notif {
    transform: scale(1.1);
}

header .header-actions .btn-header .notif {
    position: absolute;
    top: 0.7px;
    left: 15px;
}

.hero {
    margin-top: 120px;
    color: #FFFFFF;
}

h1 {
    font-size: 68px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    line-height: 111%;
}

h3 {
    font-size: 30px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.04em;
    line-height: 111%;
    color: #FFFFFF;
}

h1 span {
    background: linear-gradient(45deg, #6a5cff, #ca25e4, #df1ba1);
    -webkit-background-clip: text;
    color: transparent;
}

p {
    font-size: 18px;
    line-height: 185%;
    font-weight: 400;
}

.hero {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
}

.hero img {
    mix-blend-mode: color-dodge;
    position: absolute;
    top: -240px;
    left : -232px;
    width: 1636px;
    height: 947px;
}

.hero .content {
    width: 580px;
    z-index: 1;
}

.hero .content h1 {
    max-width: 550px;
}

.hero .content p {
    margin-top: 14px;
}

.hero .content .btns button{
    margin-top: 32px;
    font-size: 18px;
    padding: 26px 64px;
    font-weight: 800;
    text-transform: uppercase;
    transform: skew(-15deg);
}

.hero .content .btns button:hover {
    transform: scale(1.01) skew(-15deg);
}

.hero .content .btns button:active {
    transform: scale(0.99) skew(-15deg);
}

.hero .content .btns b {
    transform: skew(12deg);
    
}

.hero .content .btns .buy {
    background: linear-gradient(45deg, #6A5CFF 0%, #ec73ff 51.04%, #DF1BA1 100%);
    color: #FFFFFF;
    margin-right: 10px;
}

.hero .content .btns .start {
    border: 2px solid;
    background: linear-gradient(45deg, #6a5cff, #ca25e4, #df1ba1);
    border-image: linear-gradient(45deg, #6A5CFF 0%, #de6aef 51.04%, #DF1BA1 100%) 1;
    -webkit-background-clip: text;
    color: transparent;
}

.hero .content .infos {
    display: flex;
    gap: 31px;
    margin-top: 66px;
}

.hero .content .infos div {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.hero .content .infos div h3 {
    font-size: 30px;
    font-weight: 800;
    line-height: 111%;
}

.hero .content .infos div p {
    font-size: 18px;
    line-height: 185%;
    font-weight: 400;
    text-transform: capitalize;
}

.hero .content .infos div h3:hover {
    color: transparent;
    background: linear-gradient(45deg, #6a5cff, #ca25e4, #df1ba1);
    -webkit-background-clip: text;
}
.hero .content .infos div p:hover {
    color: transparent;
    background: linear-gradient(45deg, #6a5cff, #ca25e4, #df1ba1);
    -webkit-background-clip: text;
}

.main-2 {
    background:linear-gradient(45deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0.05) 10%);
    backdrop-filter: blur(50px);
    border-radius: 1px solid rgb(255, 148, 255);
    position: relative;
    width: 100%;
    height: 90px;
    margin-top: 79px;
}

.section-1 .scroll-thing {
    padding: 27px 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    width: max-content;
    position: absolute;

    animation: scrolling 60s linear infinite;
    animation-range: cover;
}
@keyframes scrolling {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.section-1 .scroll-thing div {
    display: flex;
    align-items: center;
    width: max-content;
    gap: 18px;
}





.hero-img {
    pointer-events: none;
}